.app {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.appContainer {
    margin: auto;
    max-width: 600px;
}
  
.quoteBox {
    border: 2px dotted lightpink;
    padding: 1rem;
}
  
.text {
    font-size: calc(15px + 2vmin);
    text-align: left;
}
  
.author {
    font-size: calc(8px + 1.5vmin);
    text-align: right;
}
  
.smButton {
    font-size: 36pt !important;
}
